<div class="card" style="display:flex;flex-direction:column;justify-content:space-between;">
  <div class="card-image has-text-centered">
      <i class="fa fa-{{ advert.advertContract.contract.icon }}"></i>
  </div>
  <div class="card-content" style="display:flex;flex:auto;">
    <div class="content" style="display:flex;flex-direction:column;justify-content:space-between;">
      <h4>{{ advert.title }}</h4>
      <p style="flex-grow:2">
        {{advert.excerpt|striptags|length > 250 ? advert.excerpt|striptags|slice(0, 251)|split(' ')|slice(0, -1)|join(' ') ~ '…': advert.excerpt|striptags  }}
      </p>
      <p><a href="{{ path('oc_platform_view', {'id': advert.id}) }}">Plus de détail</a></p>
    </div>
  </div>
</div>
