<section class="hero is-info is-bold is-small promo-block">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <i class="fa fa-bell-o"></i> 
          Formulaire d'annonce
      </h1>
      <h2 class="subtitle">
            Ici se trouvera le formulaire.
      </h2>
    </div>
  </div>
</section>