{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
  Annonces - {{ parent() }}
{% endblock %}

{# Breadcrumb #}
{# {% block breadcrumb %}
  <div class="box cta">
    <div class="container">
      <nav class="breadcrumb is-small " aria-label="breadcrumbs">
        <ul>
          {% block breadcrumbLien %}        
          <li><a href="{{ path('oc_core_home') }}">Accueil</a></li>
          <li class="{% if app.request.attributes.get('_route') == 'oc_platform_home' %}is-active{% endif %}">
            <a href="{{ path('oc_platform_home') }}">Annonces</a>
          </li>
          {% endblock %}
        </ul>
      </nav>
    </div>
  </div>
{% endblock %} #}

{% block body %}
  {% block ocplatform_body %}
  {% endblock %}
{% endblock %}